config R8723AU_BT
	tristate "Realtek RTL8723AU Bluetooth driver"
	depends on BT && BT_HCIBTUSB && BT_RFCOMM
	default n
	---help---
	This option adds the Realtek RTL8723AU BT device such as found in
	the Lenovo Yogi 13 tablet. If built as a module, it will be called r8723au_bt.

